<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c294acda8b7847acb5b7215d780077bf {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c294acda8b7847acb5b7215d780077bf" ></div>
        
</body>
<script>    
    
            var map_c294acda8b7847acb5b7215d780077bf = L.map(
                "map_c294acda8b7847acb5b7215d780077bf",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_94bd09b59a134ac7b515c9dbe248f339 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var marker_196748e1f09641cb89ac0fe1c87f29bc = L.marker(
                [41.90225000000004, 12.45330000000007],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_24ce913ac9c84e40a2b23fb4d38613aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_196748e1f09641cb89ac0fe1c87f29bc.setIcon(icon_24ce913ac9c84e40a2b23fb4d38613aa);
        
    
        var popup_7c19c1a5208c43f8bce0c01b46885fe8 = L.popup({"maxWidth": "100%"});

        
            var html_8ea75cb833854cc3ae43084ea1df9c48 = $(`<div id="html_8ea75cb833854cc3ae43084ea1df9c48" style="width: 100.0%; height: 100.0%;">maaaslenchenko La Cité du Vatican</div>`)[0];
            popup_7c19c1a5208c43f8bce0c01b46885fe8.setContent(html_8ea75cb833854cc3ae43084ea1df9c48);
        

        marker_196748e1f09641cb89ac0fe1c87f29bc.bindPopup(popup_7c19c1a5208c43f8bce0c01b46885fe8)
        ;

        
    
    
            var marker_da6da4685f054f629c374f20cdd2dc72 = L.marker(
                [49.84441000000004, 24.02543000000003],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_0e2b84c6c1f2413085da37daaba74024 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_da6da4685f054f629c374f20cdd2dc72.setIcon(icon_0e2b84c6c1f2413085da37daaba74024);
        
    
        var popup_4278a2b28705462dbb9bd620436520a1 = L.popup({"maxWidth": "100%"});

        
            var html_285f68417bab4ce1964a234429298788 = $(`<div id="html_285f68417bab4ce1964a234429298788" style="width: 100.0%; height: 100.0%;">redn1njaa Lviv, Ukraine</div>`)[0];
            popup_4278a2b28705462dbb9bd620436520a1.setContent(html_285f68417bab4ce1964a234429298788);
        

        marker_da6da4685f054f629c374f20cdd2dc72.bindPopup(popup_4278a2b28705462dbb9bd620436520a1)
        ;

        
    
    
            var marker_e207504a1b2f44f5a219d1641cf6e7f7 = L.marker(
                [-25.70993156999998, 134.48403119800003],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_458dae2c40004b17836c82397d5b4959 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_e207504a1b2f44f5a219d1641cf6e7f7.setIcon(icon_458dae2c40004b17836c82397d5b4959);
        
    
        var popup_7298ebf3881f426f9fecd1d4018f3378 = L.popup({"maxWidth": "100%"});

        
            var html_28db0ddf8bb048b28c9fb31004b68b9f = $(`<div id="html_28db0ddf8bb048b28c9fb31004b68b9f" style="width: 100.0%; height: 100.0%;">linndfors Australia</div>`)[0];
            popup_7298ebf3881f426f9fecd1d4018f3378.setContent(html_28db0ddf8bb048b28c9fb31004b68b9f);
        

        marker_e207504a1b2f44f5a219d1641cf6e7f7.bindPopup(popup_7298ebf3881f426f9fecd1d4018f3378)
        ;

        
    
    
            var marker_4b2d7a69e2104cb89b2363732a406b74 = L.marker(
                [36.37410569300005, -119.27022999999997],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_d90aaa68c54e4974af5506f5d24e6a5f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_4b2d7a69e2104cb89b2363732a406b74.setIcon(icon_d90aaa68c54e4974af5506f5d24e6a5f);
        
    
        var popup_00eba42f22b84ce895fabc309de68851 = L.popup({"maxWidth": "100%"});

        
            var html_646df9a17dec48c286c8b9a38abe1954 = $(`<div id="html_646df9a17dec48c286c8b9a38abe1954" style="width: 100.0%; height: 100.0%;">demchvk California, USA</div>`)[0];
            popup_00eba42f22b84ce895fabc309de68851.setContent(html_646df9a17dec48c286c8b9a38abe1954);
        

        marker_4b2d7a69e2104cb89b2363732a406b74.bindPopup(popup_00eba42f22b84ce895fabc309de68851)
        ;

        
    
    
            var marker_3a7722f4a3544f8d9c0521dcdbebd65a = L.marker(
                [42.833330000000046, 12.833330000000046],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_f7fdd6fcf2ea41e3a8a20c5748b4758a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_3a7722f4a3544f8d9c0521dcdbebd65a.setIcon(icon_f7fdd6fcf2ea41e3a8a20c5748b4758a);
        
    
        var popup_57033f3170714c58ad72f9cd0e93d3ed = L.popup({"maxWidth": "100%"});

        
            var html_084192f8d1de4b1a8dd74c628709d79f = $(`<div id="html_084192f8d1de4b1a8dd74c628709d79f" style="width: 100.0%; height: 100.0%;">nstbhn_ Italia</div>`)[0];
            popup_57033f3170714c58ad72f9cd0e93d3ed.setContent(html_084192f8d1de4b1a8dd74c628709d79f);
        

        marker_3a7722f4a3544f8d9c0521dcdbebd65a.bindPopup(popup_57033f3170714c58ad72f9cd0e93d3ed)
        ;

        
    
    
            var marker_f80a4e535a7047b39facc5b5f29db3b7 = L.marker(
                [49.02689837500003, 31.374926053000024],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_a3d709ad4447400ebdee6f94e7fd2ed3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_f80a4e535a7047b39facc5b5f29db3b7.setIcon(icon_a3d709ad4447400ebdee6f94e7fd2ed3);
        
    
        var popup_959f1dafbf47478b8069cc2bf0763aaa = L.popup({"maxWidth": "100%"});

        
            var html_d436e043d5864a3a9e37a087bfc731dc = $(`<div id="html_d436e043d5864a3a9e37a087bfc731dc" style="width: 100.0%; height: 100.0%;">Hummlad Ukraine</div>`)[0];
            popup_959f1dafbf47478b8069cc2bf0763aaa.setContent(html_d436e043d5864a3a9e37a087bfc731dc);
        

        marker_f80a4e535a7047b39facc5b5f29db3b7.bindPopup(popup_959f1dafbf47478b8069cc2bf0763aaa)
        ;

        
    
    
            var marker_93d163b3bfcc46e383f142cab06068f2 = L.marker(
                [37.36211300000008, -121.84650499999998],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_c44d594ed468455faf45bae42105781f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_93d163b3bfcc46e383f142cab06068f2.setIcon(icon_c44d594ed468455faf45bae42105781f);
        
    
        var popup_c920d7930abe41c889274cd64a426fa4 = L.popup({"maxWidth": "100%"});

        
            var html_7f9b9efd0de1411c85396c1213df20ba = $(`<div id="html_7f9b9efd0de1411c85396c1213df20ba" style="width: 100.0%; height: 100.0%;">YarynaFialko Silicon Valley, CA, USA</div>`)[0];
            popup_c920d7930abe41c889274cd64a426fa4.setContent(html_7f9b9efd0de1411c85396c1213df20ba);
        

        marker_93d163b3bfcc46e383f142cab06068f2.bindPopup(popup_c920d7930abe41c889274cd64a426fa4)
        ;

        
    
    
            var marker_a1d79971ceca46e7a1f8897e25402132 = L.marker(
                [51.507408360000056, -0.12769869299995662],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_4ac0e6b0bf24422db9aa220a11499827 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_a1d79971ceca46e7a1f8897e25402132.setIcon(icon_4ac0e6b0bf24422db9aa220a11499827);
        
    
        var popup_5d83dfccca524c3985492505c3e733f5 = L.popup({"maxWidth": "100%"});

        
            var html_e527d74d99ce43c1825e79b1187ea196 = $(`<div id="html_e527d74d99ce43c1825e79b1187ea196" style="width: 100.0%; height: 100.0%;">mrkorchsorch London, England</div>`)[0];
            popup_5d83dfccca524c3985492505c3e733f5.setContent(html_e527d74d99ce43c1825e79b1187ea196);
        

        marker_a1d79971ceca46e7a1f8897e25402132.bindPopup(popup_5d83dfccca524c3985492505c3e733f5)
        ;

        
    
    
            var marker_a42078e129ae464a86ba4c72d5fdf354 = L.marker(
                [50.73242000000005, 7.101860000000045],
                {}
            ).addTo(map_c294acda8b7847acb5b7215d780077bf);
        
    
            var icon_44d3a2a8f74744f79d64d44f4c68a772 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_a42078e129ae464a86ba4c72d5fdf354.setIcon(icon_44d3a2a8f74744f79d64d44f4c68a772);
        
    
        var popup_d5f61d7f9efe423ca9f78c8f463c4ce8 = L.popup({"maxWidth": "100%"});

        
            var html_8179e27b8edc4d25a593c8502e4b6257 = $(`<div id="html_8179e27b8edc4d25a593c8502e4b6257" style="width: 100.0%; height: 100.0%;">dw_ukrainian Bonn, Germany</div>`)[0];
            popup_d5f61d7f9efe423ca9f78c8f463c4ce8.setContent(html_8179e27b8edc4d25a593c8502e4b6257);
        

        marker_a42078e129ae464a86ba4c72d5fdf354.bindPopup(popup_d5f61d7f9efe423ca9f78c8f463c4ce8)
        ;

        
    
</script>